@use '../variables.scss';

.main {
    // margin-top: 15px;
    // min-height: 100vh;
}

.container {
    // width: 100vw;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    background-color: variables.$cotton;
    color: variables.$holo;
    display: grid;
    grid-template-columns: 40px 1fr 30px 30px;
    box-sizing: border-box;
}
.listBtn {
    cursor: pointer;
}
.header {
    text-align: center;

}

.create_new {
    color: variables.$cotton;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.remove_edit {
    cursor: pointer;
    z-index: 100;
    display: flex;
    * {
        margin: 0 5px 0 0;
    }
}


.title {
    font-weight: 800;
    cursor: pointer;
}

.description {
    grid-column: 1 / -1; 
    font-size: 12px;
    padding-left: 40px;
    max-width: 80%;
    color: variables.$holo;
}


@media (min-width: 1200px) {
    .main {
        width: 950px;
        display: block;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
    }
    .container {
        min-width: 950px;
        max-width: 500px;
        // padding: 8px;
    }

    .title {
        font-size: 14px; 
    }
    
    .description {
        font-size: 14px; 
    }
}

@media (max-width: 480px) {
    .container {
        min-width: 80vw;
        max-width: 100vw;
        // padding: 8px;
    }

    .title {
        font-size: 14px; 
    }
    
    .description {
        line-height: 1.2;
        font-size: 12px;
        max-width: 70vw; 
    }
}
