@use '../variables';

.container {

    margin-top: -1px;
    padding-left: 5px;
    .el {
        cursor: pointer;

    }
    .el:hover {
        border-radius: 50px;
        color: variables.$tangerine;
    }
}
