@use '../../variables.scss';

.container {
    min-height: 100vh;
    max-width: 100vw;
    box-sizing: border-box;
    justify-content: center;
    // position: absolute; 
    z-index: 110;
    left: 5px;
    backdrop-filter: blur(5px); 
    overflow: hidden; 
    background-color: variables.$holo;
}

.header {
    color: variables.$linen;
}

.modal {
    margin: 0 auto;
    padding: 100px;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
box-sizing: border-box;
    overflow: hidden; 
}

.el {
    color: white;
    display: flex;
    justify-content: center;
    padding: 3px;
    width: 350px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    max-width: 350px;
    gap: 15px;
}
